<!doctype html>
<html>
<head>
    <title>{% block title %}TITLE HERE{% endblock %}</title>
    <style>{% block style %}STYLE HERE{% endblock %}</style>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>

    {% if 'user_name' in session %}
        <div class="topnav" id="logged-in-topnav">
            <a href="/user/{{ session['user_name'] }}">Home</a>
            <a href="/mealplan">Meal Plan</a>
            <a href="/recipes">Recipe Box</a>
            <a href="#about">About</a>
            <a href="/logout">Log Out</a>
        </div>
    {% endif %}


<!-- Show flashed messages -->
{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-warning">{{ message }}</div>
{% endfor %}
{% endwith %}



{% block content %} put your content here {% endblock %}

</body>
</html>