{% extends 'base.html' %}


{% block title %} My Meal Plan {% endblock %}
{% block style %} 

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

{% endblock %}

{% block content %}

<h1>Meal Plan</h1>

<form action="/edit-meal" class="edit" id="meal-plan-form">

<div id="meal-plan-table">
<table style="width:80%">
    <tr>
        <th>Meal</th>
        {% for day in all_days %}
            <th>{{ day.strftime('%a %-m/%d') }} </th>
        {% endfor %}
    </tr>

    <div id="edit-meal-plan">
    {% for meal in meal_plan %}
    <tr>
        <td>{{ meal["meal_type"]|capitalize() }} </td>
        <td>
            {% for recipe in meal["day1"] %}
                <select name="day1-{{ meal['meal_type'] }}" 
                    class="recipe-dropdown day1-{{ meal['meal_type'] }}">
                {% if recipe != '' %}

                    {% for r in all_recipes %}
                        {% if r.recipe_id == recipe.recipe_id %}
                            <option value="{{ recipe.recipe_id }}" selected>
                                {{ recipe.recipe_name|capitalize() }}
                            </option>
                        {% else %}
                            <option value="{{ r.recipe_id }}">
                                {{ r.recipe_name|capitalize() }}
                            </option>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <option value="" selected> </option>
                    {% for r in all_recipes %}
                    <option value="{{ r.recipe_id }}">
                        {{ r.recipe_name|capitalize() }}
                    </option>
                    {% endfor %}
                {% endif %}
                </select>
                
                <div class="show-meal-plan">
                {% if recipe != '' %}
                    <p>{{ recipe.recipe_name|capitalize() }}</p>
                {% endif %}
                </div>

            {% endfor %}
        </td>
        <td>
            {% for recipe in meal["day2"] %}
                <select name="day2-{{ meal['meal_type'] }}" 
                    class="recipe-dropdown day2-{{ meal['meal_type'] }}">
                {% if recipe != '' %}

                    {% for r in all_recipes %}
                        {% if r.recipe_id == recipe.recipe_id %}
                            <option value="{{ recipe.recipe_id }}" selected>
                                {{ recipe.recipe_name|capitalize() }}
                            </option>
                        {% else %}
                            <option value="{{ r.recipe_id }}">
                                {{ r.recipe_name|capitalize() }}
                            </option>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <option value="" selected> </option>
                    {% for r in all_recipes %}
                    <option value="{{ r.recipe_id }}">
                        {{ r.recipe_name|capitalize() }}
                    </option>
                    {% endfor %}
                {% endif %}
                </select>
                
                <div class="show-meal-plan">
                {% if recipe != '' %}
                    <p>{{ recipe.recipe_name|capitalize() }}</p>
                {% endif %}
                </div>

            {% endfor %}
        </td>
        <td>
            {% for recipe in meal["day3"] %}
                <select name="day3-{{ meal['meal_type'] }}" 
                    class="recipe-dropdown day3-{{ meal['meal_type'] }}">
                {% if recipe != '' %}

                    {% for r in all_recipes %}
                        {% if r.recipe_id == recipe.recipe_id %}
                            <option value="{{ recipe.recipe_id }}" selected>
                                {{ recipe.recipe_name|capitalize() }}
                            </option>
                        {% else %}
                            <option value="{{ r.recipe_id }}">
                                {{ r.recipe_name|capitalize() }}
                            </option>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <option value="" selected> </option>
                    {% for r in all_recipes %}
                    <option value="{{ r.recipe_id }}">
                        {{ r.recipe_name|capitalize() }}
                    </option>
                    {% endfor %}
                {% endif %}
                </select>
                
                <div class="show-meal-plan">
                {% if recipe != '' %}
                    <p>{{ recipe.recipe_name|capitalize() }}</p>
                {% endif %}
                </div>
            {% endfor %}
        </td>
        <td>
            {% for recipe in meal["day4"] %}
                <select name="day4-{{ meal['meal_type'] }}"
                    class="recipe-dropdown day4-{{ meal['meal_type'] }}">
                {% if recipe != '' %}

                    {% for r in all_recipes %}
                        {% if r.recipe_id == recipe.recipe_id %}
                            <option value="{{ recipe.recipe_id }}" selected>
                                {{ recipe.recipe_name|capitalize() }}
                            </option>
                        {% else %}
                            <option value="{{ r.recipe_id }}">
                                {{ r.recipe_name|capitalize() }}
                            </option>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <option value="" selected> </option>
                    {% for r in all_recipes %}
                    <option value="{{ r.recipe_id }}">
                        {{ r.recipe_name|capitalize() }}
                    </option>
                    {% endfor %}
                {% endif %}
                </select>
                
                <div class="show-meal-plan">
                {% if recipe != '' %}
                    <p>{{ recipe.recipe_name|capitalize() }}</p>
                {% endif %}
                </div>
            {% endfor %}
        </td>
        <td>
            {% for recipe in meal["day5"] %}
                <select name="day5-{{ meal['meal_type'] }}" 
                    class="recipe-dropdown day5-{{ meal['meal_type'] }}">
                {% if recipe != '' %}

                    {% for r in all_recipes %}
                        {% if r.recipe_id == recipe.recipe_id %}
                            <option value="{{ recipe.recipe_id }}" selected>
                                {{ recipe.recipe_name|capitalize() }}
                            </option>
                        {% else %}
                            <option value="{{ r.recipe_id }}">
                                {{ r.recipe_name|capitalize() }}
                            </option>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <option value="" selected> </option>
                    {% for r in all_recipes %}
                    <option value="{{ r.recipe_id }}">
                        {{ r.recipe_name|capitalize() }}
                    </option>
                    {% endfor %}
                {% endif %}
                </select>
                
                <div class="show-meal-plan">
                {% if recipe != '' %}
                    <p>{{ recipe.recipe_name|capitalize() }}</p>
                {% endif %}
                </div>
            {% endfor %}
        </td>
        <td>
            {% for recipe in meal["day6"] %}
                <select name="day6-{{ meal['meal_type'] }}"
                    class="recipe-dropdown day6-{{ meal['meal_type'] }}">
                {% if recipe != '' %}

                    {% for r in all_recipes %}
                        {% if r.recipe_id == recipe.recipe_id %}
                            <option value="{{ recipe.recipe_id }}" selected>
                                {{ recipe.recipe_name|capitalize() }}
                            </option>
                        {% else %}
                            <option value="{{ r.recipe_id }}">
                                {{ r.recipe_name|capitalize() }}
                            </option>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <option value="" selected> </option>
                    {% for r in all_recipes %}
                    <option value="{{ r.recipe_id }}">
                        {{ r.recipe_name|capitalize() }}
                    </option>
                    {% endfor %}
                {% endif %}
                </select>
                
                <div class="show-meal-plan">
                {% if recipe != '' %}
                    <p>{{ recipe.recipe_name|capitalize() }}</p>
                {% endif %}
                </div>
            {% endfor %}
        </td>
        <td>
            {% for recipe in meal["day7"] %}
                <select name="day7-{{ meal['meal_type'] }}" 
                    class="recipe-dropdown day7-{{ meal['meal_type'] }}">
                {% if recipe != '' %}

                    {% for r in all_recipes %}
                        {% if r.recipe_id == recipe.recipe_id %}
                            <option value="{{ recipe.recipe_id }}" selected>
                                {{ recipe.recipe_name|capitalize() }}
                            </option>
                        {% else %}
                            <option value="{{ r.recipe_id }}">
                                {{ r.recipe_name|capitalize() }}
                            </option>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <option value="" selected> </option>
                    {% for r in all_recipes %}
                    <option value="{{ r.recipe_id }}">
                        {{ r.recipe_name|capitalize() }}
                    </option>
                    {% endfor %}
                {% endif %}
                </select>
                
                <div class="show-meal-plan">
                {% if recipe != '' %}
                    <p>{{ recipe.recipe_name|capitalize() }}</p>
                {% endif %}
                </div>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </div>

  </table>
</div>

    <input type="submit" name="edit" id="meal-btn" value="Edit Meal Plan">
</form>

<script src="https://code.jquery.com/jquery.js"></script>

<script>

    // Setting up page when the page is loaded
    $(document).ready(function() {
        $('div.show-meal-plan').show();
        $('select.recipe-dropdown').hide();
    });

    // Event handler when you click on the meal-plan page button
    $('#meal-plan-form').on("submit", addRecipeForm);

    function addRecipeForm(evt) {
        evt.preventDefault();

        var button = $('#meal-btn').val();

        if (button == "Edit Meal Plan") {
            $('div.show-meal-plan').hide()
            $('select.recipe-dropdown').show()
            $('#meal-btn').val("Save Meal Plan");
        }
        else {
             // POST into DB
            $('select.recipe-dropdown').hide()
            $('div.show-meal-plan').show()
            $('#meal-btn').val("Edit Meal Plan");
        }
    }

    function getFormInfo() {

        var options = $('select.day1-breakfast')

        var recipeList = [];
        for (var i = 0; i < options.length; i++) {
            if (options[i].value != "") {
                recipeList.push(options[i].value);  
            }
        }
        return true
    }


</script>

{% endblock %}