{% extends 'base.html' %}


{% block title %} My Meal Plan {% endblock %}
{% block style %} 

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.recipe-dropdown {
    display: none;
}

{% endblock %}

{% block content %}

<h1 id="{{ week_id }}">Meal Plan</h1>
<form action="/meal-plan-week" class="go-to-week">
    <select name="select-week-id">
        <option disabled selected value="None">Pick Week</option>
        {% for w_date, w_id in week_list %}
        <option value="{{ w_id }}">Week of {{ w_date.strftime('%-m/%d') }}
        </option>
        {% endfor %}
    </select>
    <input type="submit" id="select-week-btn" value="Select Week">
</form>

<form action="/edit-plan" class="edit" id="meal-plan-form">

<div>
<table id="meal-plan-table" style="width:80%">
    <tr>
        <th>Meal</th>
        {% for day in all_days %}
            <th>{{ day.strftime('%a %-m/%d') }} </th>
        {% endfor %}
    </tr>

    {% for meal in meal_plan %}
    <tr>
        <td>{{ meal["meal_type"]|capitalize() }} </td>
        <td>
            {% for recipe in meal["day1"] %}
                <select name="day1-{{ meal['meal_type'] }}" 
                    class="recipe-dropdown day1-{{ meal['meal_type'] }}">
                {% if recipe != '' %}

                    {% for r in all_recipes %}
                        {% if r.recipe_id == recipe.recipe_id %}
                            <option value="{{ recipe.recipe_id }}" selected>
                                {{ recipe.recipe_name|capitalize() }}
                            </option>
                        {% else %}
                            <option value="{{ r.recipe_id }}">
                                {{ r.recipe_name|capitalize() }}
                            </option>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <option value="" selected> </option>
                    {% for r in all_recipes %}
                    <option value="{{ r.recipe_id }}">
                        {{ r.recipe_name|capitalize() }}
                    </option>
                    {% endfor %}
                {% endif %}
                </select>
                
                <div class="show-meal-plan">
                {% if recipe != '' %}
                    <p>{{ recipe.recipe_name|capitalize() }}</p>
                {% endif %}
                </div>

            {% endfor %}
        </td>
        <td>
            {% for recipe in meal["day2"] %}
                <select name="day2-{{ meal['meal_type'] }}" 
                    class="recipe-dropdown day2-{{ meal['meal_type'] }}">
                {% if recipe != '' %}

                    {% for r in all_recipes %}
                        {% if r.recipe_id == recipe.recipe_id %}
                            <option value="{{ recipe.recipe_id }}" selected>
                                {{ recipe.recipe_name|capitalize() }}
                            </option>
                        {% else %}
                            <option value="{{ r.recipe_id }}">
                                {{ r.recipe_name|capitalize() }}
                            </option>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <option value="" selected> </option>
                    {% for r in all_recipes %}
                    <option value="{{ r.recipe_id }}">
                        {{ r.recipe_name|capitalize() }}
                    </option>
                    {% endfor %}
                {% endif %}
                </select>
                
                <div class="show-meal-plan">
                {% if recipe != '' %}
                    <p>{{ recipe.recipe_name|capitalize() }}</p>
                {% endif %}
                </div>

            {% endfor %}
        </td>
        <td>
            {% for recipe in meal["day3"] %}
                <select name="day3-{{ meal['meal_type'] }}" 
                    class="recipe-dropdown day3-{{ meal['meal_type'] }}">
                {% if recipe != '' %}

                    {% for r in all_recipes %}
                        {% if r.recipe_id == recipe.recipe_id %}
                            <option value="{{ recipe.recipe_id }}" selected>
                                {{ recipe.recipe_name|capitalize() }}
                            </option>
                        {% else %}
                            <option value="{{ r.recipe_id }}">
                                {{ r.recipe_name|capitalize() }}
                            </option>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <option value="" selected> </option>
                    {% for r in all_recipes %}
                    <option value="{{ r.recipe_id }}">
                        {{ r.recipe_name|capitalize() }}
                    </option>
                    {% endfor %}
                {% endif %}
                </select>
                
                <div class="show-meal-plan">
                {% if recipe != '' %}
                    <p>{{ recipe.recipe_name|capitalize() }}</p>
                {% endif %}
                </div>
            {% endfor %}
        </td>
        <td>
            {% for recipe in meal["day4"] %}
                <select name="day4-{{ meal['meal_type'] }}"
                    class="recipe-dropdown day4-{{ meal['meal_type'] }}">
                {% if recipe != '' %}

                    {% for r in all_recipes %}
                        {% if r.recipe_id == recipe.recipe_id %}
                            <option value="{{ recipe.recipe_id }}" selected>
                                {{ recipe.recipe_name|capitalize() }}
                            </option>
                        {% else %}
                            <option value="{{ r.recipe_id }}">
                                {{ r.recipe_name|capitalize() }}
                            </option>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <option value="" selected> </option>
                    {% for r in all_recipes %}
                    <option value="{{ r.recipe_id }}">
                        {{ r.recipe_name|capitalize() }}
                    </option>
                    {% endfor %}
                {% endif %}
                </select>
                
                <div class="show-meal-plan">
                {% if recipe != '' %}
                    <p>{{ recipe.recipe_name|capitalize() }}</p>
                {% endif %}
                </div>
            {% endfor %}
        </td>
        <td>
            {% for recipe in meal["day5"] %}
                <select name="day5-{{ meal['meal_type'] }}" 
                    class="recipe-dropdown day5-{{ meal['meal_type'] }}">
                {% if recipe != '' %}

                    {% for r in all_recipes %}
                        {% if r.recipe_id == recipe.recipe_id %}
                            <option value="{{ recipe.recipe_id }}" selected>
                                {{ recipe.recipe_name|capitalize() }}
                            </option>
                        {% else %}
                            <option value="{{ r.recipe_id }}">
                                {{ r.recipe_name|capitalize() }}
                            </option>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <option value="" selected> </option>
                    {% for r in all_recipes %}
                    <option value="{{ r.recipe_id }}">
                        {{ r.recipe_name|capitalize() }}
                    </option>
                    {% endfor %}
                {% endif %}
                </select>
                
                <div class="show-meal-plan">
                {% if recipe != '' %}
                    <p>{{ recipe.recipe_name|capitalize() }}</p>
                {% endif %}
                </div>
            {% endfor %}
        </td>
        <td>
            {% for recipe in meal["day6"] %}
                <select name="day6-{{ meal['meal_type'] }}"
                    class="recipe-dropdown day6-{{ meal['meal_type'] }}">
                {% if recipe != '' %}

                    {% for r in all_recipes %}
                        {% if r.recipe_id == recipe.recipe_id %}
                            <option value="{{ recipe.recipe_id }}" selected>
                                {{ recipe.recipe_name|capitalize() }}
                            </option>
                        {% else %}
                            <option value="{{ r.recipe_id }}">
                                {{ r.recipe_name|capitalize() }}
                            </option>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <option value="" selected> </option>
                    {% for r in all_recipes %}
                    <option value="{{ r.recipe_id }}">
                        {{ r.recipe_name|capitalize() }}
                    </option>
                    {% endfor %}
                {% endif %}
                </select>
                
                <div class="show-meal-plan">
                {% if recipe != '' %}
                    <p>{{ recipe.recipe_name|capitalize() }}</p>
                {% endif %}
                </div>
            {% endfor %}
        </td>
        <td>
            {% for recipe in meal["day7"] %}
                <select name="day7-{{ meal['meal_type'] }}" 
                    class="recipe-dropdown day7-{{ meal['meal_type'] }}">
                {% if recipe != '' %}

                    {% for r in all_recipes %}
                        {% if r.recipe_id == recipe.recipe_id %}
                            <option value="{{ recipe.recipe_id }}" selected>
                                {{ recipe.recipe_name|capitalize() }}
                            </option>
                        {% else %}
                            <option value="{{ r.recipe_id }}">
                                {{ r.recipe_name|capitalize() }}
                            </option>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <option value="" selected> </option>
                    {% for r in all_recipes %}
                    <option value="{{ r.recipe_id }}">
                        {{ r.recipe_name|capitalize() }}
                    </option>
                    {% endfor %}
                {% endif %}
                </select>
                
                <div class="show-meal-plan">
                {% if recipe != '' %}
                    <p>{{ recipe.recipe_name|capitalize() }}</p>
                {% endif %}
                </div>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}

  </table>
</div>
    <input type="submit" name="edit" id="meal-btn" value="Edit Meal Plan">
</form>

<form action="/create-new-meal-plan" id="create-new-meal-plan">
    <input type="submit" name="create-new" id="create-new-btn"
        value="Create New Plan">
</form>

<form action="/shoppinglist">
    <input type="submit" value="Shopping List" />
</form>


<script src="https://code.jquery.com/jquery.js"></script>

<script>

    // Setting up page when the page is loaded
    $(document).ready(function() {
        $('div.show-meal-plan').show();
        $('select.recipe-dropdown').hide();
    });

    // Event handler when you click on the meal-plan page button
    $('#meal-plan-form').on("submit", addRecipeForm);
    // $('#shopping-list-btn').on("click", goToShoppingList);

    function addRecipeForm(evt) {
        evt.preventDefault();

        var button = $('#meal-btn').val();

        if (button == "Edit Meal Plan") {
            $('div.show-meal-plan').hide()
            $('select.recipe-dropdown').show()
            $('#meal-btn').val("Save Meal Plan");
        }
        else {
             // POST into DB
            $('select.recipe-dropdown').hide()
            $('div.show-meal-plan').show()
            $('#meal-btn').val("Edit Meal Plan");

            formData = getFormInfo();
            // console.log("JSONstringify: " + JSON.stringify(formData));
            // $.post("/edit-plan", JSON.stringify(formData), showMealPlan, "json");
            $.ajax({
                url:"/edit-plan",
                type:"POST",
                data:JSON.stringify(formData),
                contentType:"application/json; charset=utf-8",
                dataType:"json",
                success: function(data) {
                    console.log(data);
                    window.location.reload();
                }
            });

        }
    }

    function showMealPlan(data) {
        $('select.recipe-dropdown').hide();
        $('div.show-meal-plan').show();
    }

    function getFormInfo() {

        var formInfo = new Object();

        for (var i = 1; i <= 7; i++) {
            
            var mealObject = new Object();

            var breakfastOptions = $('select.day'+i+'-breakfast');
            var lunchOptions = $('select.day'+i+'-lunch');
            var dinnerOptions = $('select.day'+i+'-dinner');
            var snackOptions = $('select.day'+i+'-snack');
            var weekID = $("h1").attr("id"); 

            mealObject["breakfast"] = createMealList(breakfastOptions);
            mealObject["lunch"] = createMealList(lunchOptions);
            mealObject["dinner"] = createMealList(dinnerOptions);
            mealObject["snacks"] = createMealList(snackOptions);

            formInfo["day"+i] = mealObject;
        }  
        formInfo["week_id"] = weekID;

        return formInfo;
    }

    function createMealList(options) {
        var recipeList = [];
        for (var j = 0; j < options.length; j++) {
            if (options[j].value != "") {
                recipeList.push(options[j].value);  
            }
        }
        return recipeList;
    }

    // function goToShoppingList() {
    //     var start_date = {{ all_days[0] }};
    //     $.get('/shoppinglist');
    // }

</script>

{% endblock %}