{% extends 'base.html' %}


{% block title %} My Recipe List {% endblock %}

{% block content %}

<div class="container">
<div class="row col-xs-12">


<h1>Here's a list of all your recipes</h1>

<div>
    <div style="display: inline-block">
        <div>
            <button type="button" id="recipes-btn-all"
                class="btn btn-default">All</button>
            <button type="button" id="recipes-btn-br"
                class="btn btn-default">Breakfast</button>
            <button type="button" id="recipes-btn-lu"
                class="btn btn-default">Lunch</button>
            <button type="button" id="recipes-btn-din"
                class="btn btn-default">Dinner</button>
            <button type="button" id="recipes-btn-snck"
                class="btn btn-default">Snacks</button>
        </div>
        <div>
            <ul id="recipe-list">
            </ul>
        </div>
        <br>
        <form action="/add-recipe" id="add-recipe-form">
            <input type="submit" value="Add Recipe">
        </form>
    </div>
    <div id="recipe-info" style="display: inline-block">
        <p class="show-recipe-info" id="recipe-name">Recipe Name: </p>
        <p class="show-recipe-info" id="recipe-ingredients">Ingredients: </p>
        <form action="/edit-recipe"
            method="get" id="edit-recipe-form" class="show-recipe-info">
            <input type="hidden" id="recipe-id" name="recipe-id">
            <input type="submit" value="Edit Recipe">
        </form>
    </div>
</div>


</div>
</div>

<script>

    $("#recipes-btn-br").on("click", function() { showRecipes("br"); });
    $("#recipes-btn-lu").on("click", function() { showRecipes("lun"); });
    $("#recipes-btn-din").on("click", function() { showRecipes("din"); });
    $("#recipes-btn-snck").on("click", function() { showRecipes("snck"); });

    $("#recipes-btn-all").on("click", showAll);

    $(document).ready(showAll);

    function showAll() {
        $("#recipe-list").html("");
        $(".show-recipe-info").hide();
        var htmlText = "{% for recipe in recipes %}" +
                "<li><a href='/recipes/{{ recipe.recipe_id }}' " +
                "onclick='showRecipeInfo(event, {{ recipe.recipe_id}} );'>" +
                    "{{ recipe.recipe_name|capitalize() }} </a></li>" +
            "{% endfor %}";
        $("#recipe-list").append(htmlText);
    }

    function showRecipes(meal_type) {
        // debugger
        $(".show-recipe-info").hide();
        $("#recipe-list").html("");

        $.get('/show-filter-recipes.json', 
                {'meal_type':meal_type}, 
                printRecipes);
    }

    function printRecipes(data) {
        if (data.length == 0) {
            $("#recipe-list").append("<p>There are no recipes for this meal.</p>");
        }
        else {
            for (var i = 0; i<data.length; i++) {

                var htmlText = "<li><a href='/recipes/" + data[i].id + 
                    "' onclick='showRecipeInfo(event, " + data[i].id + ");>" + 
                    capitalize(data[i].name) +  "</a></li>";

                var html2 = "<li><a href='#' id='recipe-info-link' " +
                            "onclick='showRecipeInfo(event, " + data[i].id +
                            ");' >" + capitalize(data[i].name) + "</a></li>";
                

                $("#recipe-list").append(html2);
            }
        }
    }

    function showRecipeInfo(evt, recipeID) {
        evt.preventDefault(); 
        $(".show-recipe-info").show();
        $.get('/recipe-info.json', {'recipe_id': recipeID}, function(data) {
            $("#recipe-id").attr("value", recipeID);
            $("#recipe-name").html("Recipe Name: " + 
                capitalize(data["recipe_name"]));

            var ingredients = data["ingredients"];
            console.log(data);
            console.log(ingredients);

            var ingredientsRows = "";

            for (var i = 0; i < data["num_ingredients"]; i++) {
                var ing = ingredients["ing-"+i];
                console.log(ing);
                // console.log(data["ingredients"]["ing-"+i]["info"]);

                var ingName = ing[0];
                var ingAmount = ing[1];
                var ingUnit = ing[2];

                ingredientsRows = ingredientsRows + "<tr><td>" + ingAmount + "</td>" +
                    "<td>" + ingUnit + "</td>" +
                    "<td>" + ingName + "</td></tr>";
            }

            var ingredientsTableInfo = "Ingredients:<br><table class='table'><thead>" +
            "<th>Amount</th><th>Unit</th><th>Ingredient</th></thead>" +
            "<tbody>" + ingredientsRows + "</tbody></table>";

            $("#recipe-ingredients").html(ingredientsTableInfo);
        });

    }

    function capitalize(s) {
        return s[0].toUpperCase() + s.slice(1);
    }

  
</script>

{% endblock %}