{% extends 'base.html' %}


{% block title %} My Recipe List {% endblock %}

{% block content %}

<h1>Here's a list of all your recipes</h1>

<div>
    <div style="display: inline-block">
        <div>
            <button type="button" id="recipes-btn-all">All</button>
            <button type="button" id="recipes-btn-br">Breakfast</button>
            <button type="button" id="recipes-btn-lu">Lunch</button>
            <button type="button" id="recipes-btn-din">Dinner</button>
            <button type="button" id="recipes-btn-snck">Snacks</button>
        </div>
        <div>
            <ul id="recipe-list">
            </ul>
        </div>
    </div>
    <div id="recipe-info" style="display: inline-block">
        <p class="show-recipe-info" id="recipe-name">Recipe Name: </p>
        <p class="show-recipe-info" id="recipe-directions">Directions: </p>
        <p class="show-recipe-info" id="recipe-has-dairy">Dairy: </p>
        <p class="show-recipe-info" id="recipe-has-gluten">Gluten: </p>
        <p class="show-recipe-info" id="recipe-vegetarian">Vegetarian: </p>
        <p class="show-recipe-info" id="recipe-ingredients">Ingredients: </p>
        <form action="/edit-recipe" 
            method="post" id="edit-recipe" class="show-recipe-info">
            <input type="hidden" id="recipe-id" name="recipe-id">
            <input type="submit" value="Edit Recipe">
        </form>
    </div>
</div>

<script>

    $("#recipes-btn-br").on("click", function() { showRecipes("br"); });
    $("#recipes-btn-lu").on("click", function() { showRecipes("lun"); });
    $("#recipes-btn-din").on("click", function() { showRecipes("din"); });
    $("#recipes-btn-snck").on("click", function() { showRecipes("snck"); });

    $("#recipes-btn-all").on("click", showAll);

    $(document).ready(showAll);

    function showAll() {
        $("#recipe-list").html("");
        $(".show-recipe-info").hide();
        var htmlText = "{% for recipe in recipes %}" +
                "<li><a href='/recipes/{{ recipe.recipe_id }}' " +
                "onclick='showRecipeInfo(event, {{ recipe.recipe_id}} );'>" +
                    "{{ recipe.recipe_name|capitalize() }} </a></li>" +
            "{% endfor %}";
        $("#recipe-list").append(htmlText);
    }

    function showRecipes(meal_type) {
        // debugger
        $(".show-recipe-info").hide();
        $("#recipe-list").html("");

        $.get('/show-filter-recipes.json', 
                {'meal_type':meal_type}, 
                printRecipes);
    }

    function printRecipes(data) {
        if (data.length == 0) {
            $("#recipe-list").append("<p>There are no recipes for this meal.</p>");
        }
        else {
            for (var i = 0; i<data.length; i++) {

                var htmlText = "<li><a href='/recipes/" + data[i].id + 
                    "' onclick='showRecipeInfo(event, " + data[i].id + ");>" + 
                    capitalize(data[i].name) +  "</a></li>";

                var html2 = "<li><a href='#' id='recipe-info-link' " +
                            "onclick='showRecipeInfo(event, " + data[i].id +
                            ");' >" + capitalize(data[i].name) + "</a></li>";
                

                $("#recipe-list").append(html2);
            }
        }
    }

    function showRecipeInfo(evt, recipeID) {
        evt.preventDefault(); 
        $(".show-recipe-info").show();
        $.get('/recipe-info.json', {'recipe_id': recipeID}, function(data) {
            // console.log(data);
            $("#recipe-id").attr("value", recipeID);
            $("#recipe-name").html("Recipe Name: " + 
                capitalize(data["recipe_name"]));
            $("#recipe-directions").html("Recipe Directions: " + 
                data["recipe_directions"]);
        });

    }

    function capitalize(s) {
        return s[0].toUpperCase() + s.slice(1);
    }

  
</script>

{% endblock %}