{% extends 'base.html' %}


{% block title %} My Account {% endblock %}

{% block content %}

<div class="container">
<div class="row col-xs-12">

<div class="jumbotron text-center">
  <h1>Welcome to your Meal Planner</h1>
  <p>description of something!</p> 
</div>

<div class="row">
    <div class="col-xs-4">
        <h2>Go to your Meal Plan</h2>
        <img src="/static/img/calendar.jpeg" alt="calendar" class="img-rounded" width="304" height="236">
        <p><a href="/mealplan">Mealplan</a></p>
    </div>

    <div class="col-xs-4">
        <h2>Look at your Recipe Box</h2>
        <img src="/static/img/meals.jpeg" alt="meals" class="img-rounded" width="304" height="236">
        <p><a href="/recipes">Recipes</a></p>
    </div>

    <div class="col-xs-4">
        <h2>Go to your Shopping List</h2>
        <img src="/static/img/grocery.jpeg" alt="grocery" class="img-rounded" width="304" height="236">
        <p><a href="/shoppinglist">Shopping List</a></p>
    </div>
</div>

</div>
</div>

{% endblock %}