{% extends 'base.html' %}


{% block title %} My Account {% endblock %}

{% block content %}

<div class="container">
<div class="row col-xs-12">

<div class="jumbotron text-center">
  <h1>Eat.Plan.Love.</h1>
  <p>Save time and energy by planning your meals!</p> 
</div>

<div class="row">
    <div class="col-xs-4">
        <h2>Plan Your Meals</h2>
        <p>Plan your weekly meal and get organized to get a head start for the week.</p>
        <img src="/static/img/calendar.jpeg" alt="calendar" class="img-rounded" width="300" height="200">
        <p><a href="/mealplan">Mealplan</a></p>
    </div>

    <div class="col-xs-4">
        <h2>Organize Recipes</h2>
        <p>Add, edit, or delete recipes from your recipe box. This is the place where you can manage all your recipes for your meal planning.
        <img src="/static/img/meals.jpeg" alt="meals" class="img-rounded" width="300" height="200">
        <p><a href="/recipes">Recipes</a></p>
    </div>

    <div class="col-xs-4">
        <h2>Shop For The Week</h2>
        <img src="/static/img/grocery.jpeg" alt="grocery" class="img-rounded" width="300" height="200">
        <p><a href="/shoppinglist">Shopping List</a></p>
    </div>
</div>

</div>
</div>

{% endblock %}